
.s-hidden {
  display:none;
    /*visibility:hidden;*/
    padding-right:10px;
    height: 0;
}
.select {
    margin: 10px 15px 10px 15px;
    cursor:pointer;
    display:inline-block;
    width: 260px;
    position:relative;
    font-size: 25px;
    color:black;
    border: 3px solid #13747d;
    border-radius: 5px;
}
.styledSelect {
    /*background: #fafafa url("http://placehold.it/70x70") no-repeat 90% 50%;*/
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding: 20px 10px;
    border-radius: 5px;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    position:absolute;
    top:6px;
    right:6px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
  background: #f1f1f1;
    display:none;
    position:absolute;
    top:110%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0;
    list-style:none;
    border-bottom:1px solid #ccc;
    box-shadow: 8px 3px 10px rgba(150, 150, 150, 0.50);
}
.options li {
    padding:10px 6px;
    margin:15px 0;
}
.options li:hover {
    background-color:#00cdc1;
}
