body, *{
  font-family: 'Open Sans', sans-serif;
  border: 1px solid black;
}

.flex_col{
  position: absolute;
  display:flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.add-kids-form{
  display:flex;
  justify-content: center;
  margin-top: 20%;
	left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.background-view-layer{
    background: #ebebeb;
    position:absolute;
    z-index: 3;
  	top: 0;
  	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  	margin: 0 auto;
  	text-align:center;
  	height: 100%;
}

.add-kids-view-layer{
  position:absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  text-align:center;
  height: 100%;
}

.task-row{
  height: 100px;
  position: absolute;
  bottom:10px;
  left: 10px;
  font-size: 20px;

}


.blue, .red, .orange, .green, .black, .pink, .purple{
  margin-top: 20px;
cursor: pointer;
height: 100px;
}


.black{
  background: black;
}
.pink{
  background: pink;
}
.purple{
  background: purple;
}
.blue{
  background: blue;
}
.red{
  background: red;
}
.orange{
  background: orange;
}
.green{
  background: green;
}




.fa-star{
  text-shadow: 2px 1px 1px rgba(150, 150, 150, 0.59);
  font-size: 150px;
  cursor: pointer;
  margin-bottom: -10px;
  color: gold;
}

svg{
  fill: red;
}

.star-ani{
      /*transition: all .3s ease-in-out;*/
  animation: spinner 1s 1;
  /*animation-direction: alternate;*/
  animation-timing-function: ease-out;
}

@keyframes spinner {
  0% {
    opacity: 0;
    /*transform: translateY(10px);*/
    transform: rotate(0deg); }

  100% {
    opacity: 1;
    /*transform: translateY(100px);*/
    transform: rotate(359deg); } }


.kids{
  z-index: -1;
	display:flex;
	justify-content: center;
	bottom: 0;
	left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	position:absolute;
	margin: 0 auto;
	text-align:center;
	height: 100%;
}

.kid{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
  flex-shrink: 2;
	width: 250px;
}
